<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Reprise Responsive web template, Bootstrap Web Templates" />
  <title>CyberShield</title>
  <link href="//fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/assets/css/style-starter.css">
</head>

<body>
  <!-- header -->
  <header id="site-header" class="header fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke">
        <a class="navbar-brand mr-xl-5 mr-lg-3" href="/">
          <span class="fa fa-black-tie"></span> CYBERSHIELD
        </a>
        <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="padding-left: 500px;">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <!-- <li class="nav-item"><a class="nav-link" class="About_us scroll" href="#about"><H4 style="color:black;">ABOUT US</style></H4></a></li> -->

            <!-- <li class="nav-item"><a class="nav-link"  class="About_us scroll" href="#contact"><H4 style="color:black;">CONTACT US</style></H4></a></li> -->
          </ul>
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!-- //header -->
  <!-- banner-section -->
  <section id="home" class="w3l-banner py-5">
    <div class="container">
      <div class="align-items-center">
        <div class="bannerw3-content mt-lg-0 mt-4">
          <span class="title-small">Hey there!</span>
          <h3 class="mb-2 title">
            <span> Simple and Reliable <br>
             way to send Files 
              Online Securely.</span>
           
          </h3>
          
          <div class="mt-sm-5 mt-4">
            <a class="btn btn-primary btn-style" href="/login"> Send Files Now </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br>
 <center><h2 style="font-family:'Poppins', sans-serif ;">STEPS TO SEND FILE THROUGH CYBERSHIELD</h2><img src="..\static\gifs\rrd2.gif" alt="" > </center>
  
  <!--service start -->
  <section id="service" class="service">
    <div class="container">
      <div class="service-content">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="single-service-item">
              <div class="single-service-icon">
                <i class="flaticon-car"></i>
              </div>
              <h2><a>Select File Share</h2>
              <p>
                Login and select FileShare option   
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-service-item">
              <div class="single-service-icon">
                <i class="flaticon-car-repair"></i>
              </div>
              <h2><a >File Sharing Portal</a></h2>
              <p>
                Select recepient mail, choose File Type and Choose file to Send
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-service-item">
              <div class="single-service-icon">
                <i class="flaticon-car-1"></i>
              </div>
              <h2><a >Send File</a></h2>
              <p>
                Hit Send and see it fly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.container-->

  </section><!--/.service-->
  <!--service end-->
    <!-- //banner-section -->
  <!--/w3l-index2-->
  <!--//w3l-education-->
  <!-- /testimonials-->
  
  <!-- //testimonials-->
  <!-- Footers-14 -->
  <footer class="w3l-footers-14 py-5">
    
    <div class="container py-md-5 py-sm-3">
     
      
      <div class="row w3l-footer-top-form no-gutters">
       
        <video width="640" height="360" style="display: block; margin: 0 auto;" autoplay muted loop>
          <!-- Provide the source of your video using the <source> element -->
          <source src="..\static\gifs\wiada.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      
        <div class="col-lg-7 grid-two-column">
          <div>
              
          </div>

        </div>

      </div>
      <div class="row footers14-top no-gutters" style="margin-left: 35%;">
        
        
      </div>
      <div class="footers14-bottom d-flex" >
    <div class="copyright">
        <div style="margin-left:425%;"><span class="fa fa-black-tie">CYBERSHIELD <br></span> </div>
        
    </div>
    <div style="margin-top: 5%; margin-right: 40%;">
      <br>Copyright © 2024 CyberShield 
    </div>
</div>

    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &uarr;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->

  </footer>
  <!-- Footers-14 -->
  <!-- Template JavaScript -->
  <script src="/static/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/static/assets/js/theme-change.js"></script>
  <!--/carousel-->
  <script src="/static/assets/js/owl.carousel.js"></script>
  <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- gallery popup js -->
  <script src="/static/assets/js/smartphoto.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const sm = new SmartPhoto(".js-img-viwer", {
        showAnimation: false
      });
      // sm.destroy();
    });
  </script>
  <!-- //gallery popup js -->
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->


  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
  <script src="/static/assets/js/bootstrap.min.js"></script>
  

</body>

</html>